<header class="p-3 text-white">
  <div class="bottom-grid">
    <div class="logo">
      <h1> <a routerLink="/home"><span class="fa fa-key"></span> Bandshare</a></h1>
    </div>
    <div class="links">
      <ul class="links-unordered-list">
        <li >
          <a routerLink="/bands">Bands</a>
        </li>
        <li >
          <a routerLink="/myBands">My Bands</a>
        </li>
        <li >
          <a routerLink="/bands/create">Create Band</a>
        </li>
        <li c>
          <a routerLink="/login">Login</a>
        </li>
        <li >
          <a routerLink="/register">Register</a>
        </li>
      </ul>
    </div>
  </div>
</header>