<header class="p-3 text-white">
  <div class="bottom-grid">
    <div class="logo">
      <h1> <a href="/"><span class="fa fa-key"></span> Bandshare</a></h1>
    </div>
    <div class="links">
      <ul class="links-unordered-list">
        <li class="active">
          <a href="/bands" class="">Bands</a>
        </li>
        <li class="active">
          <a href="/myBands" class="">My Bands</a>
        </li>
        <li class="active">
          <a href="/bands/create" class="">Create Band</a>
        </li>
        <li class="">
          <a href="/login" class="">Login</a>
        </li>
        <li class="">
          <a href="/register" class="">Register</a>
        </li>
      </ul>
    </div>
  </div>
</header>