.text-end {
    position: relative;
    right: -50%;
}

header {
    height: 80px;
    background-color: rgb(39, 40, 44);
    font-size: 20px;
    
}

header a {
    padding-bottom: 1px;
}

header li:hover {
    text-decoration: underline;
}


