@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');
.titleContainer {
    position: relative;
    color: white;
    width: 700px;
    height: 500px;
    margin-left: 700px;
    margin-top: 300px;
    font-size: 50px;
    font-family: 'Gowun Batang';
}




  