<footer>
    <div class="bottom-grid1">
        <div class="links">
            <ul class="links-unordered-list">
                <li class="">
                    <a href="#" class="">About Us</a>
                </li>
                <li class="">
                    <a href="#" class="">Privacy Policy</a>
                </li>
                <li class="">
                    <a href="#" class="">Terms of Use</a>
                </li>
            </ul>
        </div>
        <div class="copyright">
            <p>© 2021 Bandshare. | Design by
                <a href="http://w3layouts.com">W3layouts</a>
            </p>
        </div>
    </div>
</footer>