{{form.value | json}}
<div class="layer">
    <div class="content-w3ls">
        <div class="text-center icon">
            <span class="fa fa-html5"></span>
        </div>
        <div class="content-bottom">
            <form #form="ngForm" action="#" method="post" (ngSubmit)="create(form)" class="ng-untouched ng-pristine ng-valid">
                <div class="field-group" >
                    <span class="fa fa-user" aria-hidden="true"></span>
                    <div class="wthree-field">
                        <input #nameInput="ngModel" ngModel name="name" type="text" placeholder="Name" required
                            minlength="2" maxlength="15">
                    </div>
                </div>
                <div class="field-group">
                    <span class="fa fa-lock" aria-hidden="true"></span>
                    <div class="wthree-field">
                        <input #genresInput="ngModel" ngModel name="genres" type="text" placeholder="Genre(s)" required
                        minlength="2" maxlength="40">
                    </div>
                </div>
                <div class="field-group">
                    <span class="fa fa-lock" aria-hidden="true"></span>
                    <div class="wthree-field not-required">
                        <input name="members" #membersInput="ngModel" ngModel type="text"  placeholder="Members" required
                        minlength="2" maxlength="50">
                    </div>
                </div>
                <div class="field-group">
                    <span class="fa fa-lock" aria-hidden="true"></span>
                    <div class="wthree-field not-required">
                        <input name="origin" type="text" #originInput="ngModel" ngModel placeholder="Origin" required
                        minlength="2" maxlength="15">
                    </div>
                </div>
                <div class="field-group">
                    <span class="fa fa-lock" aria-hidden="true"></span>
                    <div class="wthree-field not-required">
                        <input name="imageUrl" type="text" #imageInput="ngModel" ngModel placeholder="Image" required
                        pattern="^(http(s?):).*$">
                    </div>
                </div>
                <div class="field-group">
                    <span class="fa fa-lock" aria-hidden="true"></span>
                    <div class="wthree-field not-required">
                        <input name="youtube" type="text" placeholder="Youtube" min="">
                    </div>
                </div>
                <div class="field-group">
                    <span class="fa fa-lock" aria-hidden="true"></span>
                    <div class="wthree-field not-required">
                        <input name="spotify" type="text" placeholder="Sporify">
                    </div>
                </div>
                <div class="field-group">
                    <span class="fa fa-lock" aria-hidden="true"></span>
                    <div class="wthree-field not-required">
                        <input name="description" type="text" placeholder="Description">
                    </div>
                </div>
                <div class="field-group">
                    <span class="fa fa-lock" aria-hidden="true"></span>
                    <div class="wthree-field not-required">
                        <input name="wiki" type="text" placeholder="Wiki" >
                    </div>
                </div>
                <div class="wthree-field">
                    <button [disabled]="!form.form.valid" type="submit" class="btn">Create A Band!</button>
                </div>
            </form>
        </div>
    </div>
</div>