<div class="layer">
    <div class="content-w3ls">
        <div class="text-center icon">
            <span class="fa fa-html5"></span>
        </div>
        <div class="content-bottom">
            <form #form="ngForm" action="#" method="post" (ngSubmit)="create(form)" class="ng-untouched ng-pristine ng-valid">
                <div class="field-group" >
                    <span class="fa fa-user" aria-hidden="true"></span>
                    <div class="wthree-field">
                        <input name="name" type="text" placeholder="Name" 
                        #nameInput="ngModel" 
                        ngModel
                        required
                        minlength="2" 
                        maxlength="15">
                    </div>
                </div>
                <ng-container *ngIf="nameInput.dirty">
                    <p class="error" *ngIf="nameInput.errors?.minlength || nameInput.errors?.maxlength">
                        Name must be between 2-15 chars long!
                    </p>
                </ng-container>
                <div class="field-group">
                    <span class="fa fa-lock" aria-hidden="true"></span>
                    <div class="wthree-field">
                        <input  name="genres" type="text" placeholder="Genre(s)" 
                        #genresInput="ngModel" 
                        ngModel 
                        required
                        minlength="2" 
                        maxlength="40">
                    </div>
                </div>
                <ng-container *ngIf="genresInput.dirty">
                    <p class="error" *ngIf="genresInput.errors?.minlength || genresInput.errors?.maxlength">
                        Genres must be between 2-40 chars long!
                    </p>
                </ng-container>
                <div class="field-group">
                    <span class="fa fa-lock" aria-hidden="true"></span>
                    <div class="wthree-field">
                        <input name="members" #membersInput="ngModel" ngModel type="text"  placeholder="Members" required
                        minlength="2" maxlength="50">
                    </div>
                </div>
                <ng-container *ngIf="membersInput.dirty">
                    <p class="error" *ngIf="membersInput.errors?.minlength || membersInput.errors?.maxlength">
                        Members must be between 2-50 chars long!
                    </p>
                </ng-container>
                <div class="field-group">
                    <span class="fa fa-lock" aria-hidden="true"></span>
                    <div class="wthree-field">
                        <input name="origin" type="text" #originInput="ngModel" ngModel placeholder="Origin" required
                        minlength="2" maxlength="15">
                    </div>
                </div>
                <ng-container *ngIf="originInput.dirty">
                    <p class="error" *ngIf="originInput.errors?.minlength || originInput.errors?.maxlength">
                        Origin must be between 2-15 chars long!
                    </p>
                </ng-container>
                <div class="field-group">
                    <span class="fa fa-lock" aria-hidden="true"></span>
                    <div class="wthree-field">
                        <input name="imageUrl" type="text" placeholder="Image"
                        #imageInput="ngModel"
                        ngModel
                        required
                        pattern="^(http(s?):).*$">
                    </div>
                </div>
                <ng-container *ngIf="imageInput.dirty">
                    <p class="error" *ngIf="imageInput.errors?.pattern">
                        Enter a valid url!
                    </p>
                </ng-container>
                <div class="field-group">
                    <span class="fa fa-lock" aria-hidden="true"></span>
                    <div class="wthree-field">
                        <input name="youtube" type="text" placeholder="Youtube">
                    </div>
                </div>
                <div class="field-group">
                    <span class="fa fa-lock" aria-hidden="true"></span>
                    <div class="wthree-field">
                        <input name="spotify" type="text" placeholder="Sporify">
                    </div>
                </div>
                <div class="field-group">
                    <span class="fa fa-lock" aria-hidden="true"></span>
                    <div class="wthree-field">
                        <input name="description" type="text" placeholder="Description">
                    </div>
                </div>
                <div class="field-group">
                    <span class="fa fa-lock" aria-hidden="true"></span>
                    <div class="wthree-field">
                        <input name="wiki" type="text" placeholder="Wiki" >
                    </div>
                </div>
                <div class="wthree-field">
                    <button [disabled]="!form.form.valid" type="submit" class="btn">Create A Band!</button>
                </div>
            </form>
        </div>
    </div>
</div>