{{form.value | json}}
<div class="layer">
    <!---728x90--->
    <div class="content-w3ls">
        <div class="text-center icon">
            <span class="fa fa-html5"></span>
        </div>
        <!---728x90--->
        <div class="content-bottom">
            <form #form="ngForm" action="" method="post">
                <div class="field-group">
                    <span class="fa fa-user" aria-hidden="true"></span>
                    <div class="wthree-field">
                        <input #emailInput="ngModel" ngModel name="email" type="text" placeholder="Email" required email>
                    </div>
                </div>
                <div >
                    <p>
                        {{emailInput.errors | json}}
                    </p>
                </div>
                <div class="field-group">
                    <span class="fa fa-lock" aria-hidden="true"></span>
                    <div class="wthree-field">
                        <input #passwordInput="ngModel" ngModel name="password" type="text" placeholder="Password" minlength="4" required>
                    </div>
                </div>
                <!-- <ng-container *ngIf="passwordInput.touched"> -->
                    <p class="error" *ngIf="passwordInput.errors?.required">
                        Please enter a password!
                    </p>
                    <p class="error" *ngIf="passwordInput.errors?.minlength">
                        Please enter a valid password!
                    </p>
                <!-- </ng-container> -->
                <div class="wthree-field">
                    <button type="submit" class="btn">Login</button>
                </div>
                <ul class="list-login">
                </ul>
                <div class="list-login-bottom">
                    <p>Don't have an account? Register <a routerLink="/register">here</a></p>
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>
    </div>
    <!---728x90--->
</div>