<div class="layer">
    <!---728x90--->
    <div class="content-w3ls">
        <div class="text-center icon">
            <span class="fa fa-html5"></span>
        </div>
        <!---728x90--->
        <div class="content-bottom">
            <form [formGroup]="form" action="#" method="post" (ngSubmit)="register()">
                <div class="field-group">
                    <span class="fa fa-user" aria-hidden="true"></span>
                    <div class="wthree-field">
                        <input name="emai" type="text" placeholder="Email">
                    </div>
                </div>
                <div class="field-group">
                    <span class="fa fa-lock" aria-hidden="true"></span>
                    <div class="wthree-field">
                        <input name="password" type="text" placeholder="Password">
                    </div>
                </div>
                <div class="field-group">
                    <span class="fa fa-lock" aria-hidden="true"></span>
                    <div class="wthree-field">
                        <input name="rePass" type="text" placeholder="Repeat Password">
                    </div>
                </div>
                <div class="field-group">
                    <span class="fa fa-lock" aria-hidden="true"></span>
                    <div class="wthree-field">
                        <input name="firstName" type="text" placeholder="First Name">
                    </div>
                </div>
                <div class="field-group">
                    <span class="fa fa-lock" aria-hidden="true"></span>
                    <div class="wthree-field">
                        <input name="lastName"  type="text" placeholder="Last Name">
                    </div>
                </div>
                <div class="wthree-field">
                    <button type="submit" class="btn">Get Started</button>
                </div>
                <ul class="list-login">
                </ul>
                <div class="list-login-bottom">
                    <p>Already have an account? Login <a routerLink="/login">here</a></p>
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>
    </div>
    <!---728x90--->
</div>